@import url('normalise.css');
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html body {
  line-height: 1.5;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body{
  display: flex;
  flex-direction: column;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


:root {
  --red: #EB5440;
  --black: #000000;
  --gray-100: #FFFFFF;
  --gray-200: #f6f6f6;
  --gray-300: #e8e8e8;
  --gray-400: #c3c3c3;
  --gray-500: #4a4b4c;
  --blue:#067bc2;

  /* fonts */
  --font-open: 'Open Sans',sans-serif;
  --font-monster: 'Monsterrat',sans-serif;

  /* sizes */
  --rounded-md:0.375rem;
  --rounded-2xl:1rem;
  --sm:640px;
  --section-padding:0.75rem;
}



.section {
  container-type: inline-size;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-inline: 0.75rem;
  background-color: var(--gray-200);
  padding-inline: 0.5rem;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.justify-between {
    justify-content: space-between;
}

.grid {
  display: grid;
}

.small-icon{
  height: 1.25rem;
  width: 1.25rem;
}

.header-1 {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--font-monster);
  color: black;
}

.header-2 {
  font-size: 14px;
  font-weight: bold;
  font-family: var(--font-monster);
}

.desktop-header {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--font-monster);
}

.buttons-and-tabs {
  font-size: 12px;
  font-weight: bold;
  font-family: var(--font-monster);
}

.inactice-desktop-header {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-monster)
}

.body {
  font-family: var(--font-open);
  font-size: 12px;
}

 .input-filed-title {
   font-family: var(--font-monster);
   font-weight: bold;
   font-size: 12px;
 }

@media (min-width:640px) {
  .header-1 {
    font-size: 32px;
  }

  .header-2 {
    font-size: 22px;
  }

  .buttons-and-tabs {
    font-size: 18px;
  }

  .body {
    font-size: 18px
  }

  .section {
    padding-inline: min(10vw, 10rem);
  }

  .input-filed-title {
    font-size: 14px;
  }

}




/* @layer components {
  .empty-state-message {
    @apply text-[18px] sm:text[14px] font-monster font-medium;
  }
  .error-message {
    @apply font-monster font-medium italic
  }
  .list {
    @apply text-[12px] sm:text-[16px]  font-open font-semibold
  }
  .input {
    @apply font-open text-[12px] sm:text-[22px]
  }

} */
